@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Acme', sans-serif;
}

body {
  background-color: greenyellow;
}
